VITE_USAGE_SERVICE_BASE_URL=http://localhost:8083
VITE_BILLING_SERVICE_BASE_URL=http://localhost:8084
VITE_NOTIFICATION_SERVICE_BASE_URL=http://localhost:8085
VITE_RECOMMENDATION_SERVICE_BASE_URL=http://localhost:8086
VITE_AI_OPS_CORE_SERVICE_BASE_URL=http://localhost:8087
VITE_GATEWAY_SERVICE_BASE_URL=http://localhost:8080
VITE_DEFAULT_USER_ID=u_demo_001
VITE_DEFAULT_TEAM_ID=t_demo
VITE_USE_MOCK_FALLBACK=false
